In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder
from pandas import DataFrame,concat
from sklearn.preprocessing import MinMaxScaler
#TechIndicators
from ta.trend import SMAIndicator,EMAIndicator
from ta.momentum import RSIIndicator
import joblib

In [2]:
data = pd.read_csv("Data/Data-Validation.csv")
data

,Stocks,Date,Open,High,Low,Volume,Close
0,Apple,2005-07-22,1.305555,1.322385,1.304052,301106400,1.322385
1,Apple,2005-07-25,1.322083,1.330799,1.314269,294627200,1.316674
2,Apple,2005-07-26,1.322685,1.325690,1.303149,268592800,1.311264
3,Apple,2005-07-27,1.317275,1.324488,1.282412,283749200,1.322083
4,Apple,2005-07-28,1.317876,1.322385,1.301347,251311200,1.316374
...,...,...,...,...,...,...,...
25130,Johnson&Johnson,2025-07-10,156.100006,159.240005,155.820007,6732900,157.690002
25131,Johnson&Johnson,2025-07-11,157.089996,157.179993,155.179993,7872000,156.899994
25132,Johnson&Johnson,2025-07-14,156.869995,157.470001,155.520004,10185600,156.820007
25133,Johnson&Johnson,2025-07-15,156.360001,157.190002,154.800003,6873200,155.169998
25134,Johnson&Johnson,2025-07-16,160.300003,166.119995,159.800003,22130600,164.779999

In [3]:
EDA_data = data.copy()

In [4]:
#Encoding
categorical = data.iloc[:,[0]]
OneHot = OneHotEncoder(dtype="int")
Encode = OneHot.fit_transform(categorical)
Encode.toarray()

array([[1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       ...,
       [0, 0, 0, 1, 0],
       [0, 0, 0, 1, 0],
       [0, 0, 0, 1, 0]], shape=(25135, 5))

In [5]:
Encode_df = DataFrame(Encode.toarray(),columns=OneHot.get_feature_names_out())
data = concat([Encode_df,data.iloc[:,[1,2,3,4,5,6]]],axis=1)
data

,Stocks_Apple,Stocks_GeneralElectric,Stocks_IBM,Stocks_Johnson&Johnson,Stocks_Microsoft,Date,Open,High,Low,Volume,Close
0,1,0,0,0,0,2005-07-22,1.305555,1.322385,1.304052,301106400,1.322385
1,1,0,0,0,0,2005-07-25,1.322083,1.330799,1.314269,294627200,1.316674
2,1,0,0,0,0,2005-07-26,1.322685,1.325690,1.303149,268592800,1.311264
3,1,0,0,0,0,2005-07-27,1.317275,1.324488,1.282412,283749200,1.322083
4,1,0,0,0,0,2005-07-28,1.317876,1.322385,1.301347,251311200,1.316374
...,...,...,...,...,...,...,...,...,...,...,...
25130,0,0,0,1,0,2025-07-10,156.100006,159.240005,155.820007,6732900,157.690002
25131,0,0,0,1,0,2025-07-11,157.089996,157.179993,155.179993,7872000,156.899994
25132,0,0,0,1,0,2025-07-14,156.869995,157.470001,155.520004,10185600,156.820007
25133,0,0,0,1,0,2025-07-15,156.360001,157.190002,154.800003,6873200,155.169998
25134,0,0,0,1,0,2025-07-16,160.300003,166.119995,159.800003,22130600,164.779999

In [6]:
#Scaling Each Stocks with MinMaxScaler
Scale = dict()
Stocks = data.columns[0:5]
for i in Stocks:
    df = data[data[i]==1]
    Scaler = MinMaxScaler()
    MinMax = Scaler.fit_transform(df.iloc[:,[6,7,8,9,10]])
    df.iloc[:,[6,7,8,9,10]] = MinMax
    data[data[i]==1] = df
    Scale[i]=Scaler
data

C:\Users\lipun\AppData\Local\Temp\ipykernel_21860\4251421432.py:8: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0.08295334 0.0810191  0.07324702 ... 0.0046587  0.00569048 0.00722293]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.iloc[:,[6,7,8,9,10]] = MinMax
C:\Users\lipun\AppData\Local\Temp\ipykernel_21860\4251421432.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '[0.08295334 0.0810191  0.07324702 ... 0.0046587  0.00569048 0.00722293]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  data[data[i]==1] = df

,Stocks_Apple,Stocks_GeneralElectric,Stocks_IBM,Stocks_Johnson&Johnson,Stocks_Microsoft,Date,Open,High,Low,Volume,Close
0,1,0,0,0,0,2005-07-22,0.000111,0.000116,0.000161,0.082953,0.000158
1,1,0,0,0,0,2005-07-25,0.000176,0.000149,0.000201,0.081019,0.000136
2,1,0,0,0,0,2005-07-26,0.000178,0.000129,0.000157,0.073247,0.000115
3,1,0,0,0,0,2005-07-27,0.000157,0.000125,0.000076,0.077772,0.000157
4,1,0,0,0,0,2005-07-28,0.000159,0.000116,0.000150,0.068088,0.000134
...,...,...,...,...,...,...,...,...,...,...,...
25130,0,0,0,1,0,2025-07-10,0.914466,0.927283,0.918329,0.030951,0.920667
25131,0,0,0,1,0,2025-07-11,0.921599,0.912558,0.913710,0.038585,0.915024
25132,0,0,0,1,0,2025-07-14,0.920014,0.914631,0.916164,0.054091,0.914453
25133,0,0,0,1,0,2025-07-15,0.916339,0.912630,0.910967,0.031891,0.902667
25134,0,0,0,1,0,2025-07-16,0.944729,0.976459,0.947054,0.134149,0.971311

<strong>Feature Engineering Per Stocks</strong>

In [11]:
for j in EDA_data["Stocks"].unique():
    df = EDA_data[EDA_data["Stocks"]==j]
    sma = df["Close"].rolling(7).mean()
    df["SMA_7"] = sma
    ema = EMAIndicator(df["Close"],window=7).ema_indicator()
    df["EMA_7"] = ema
    rsi = RSIIndicator(df["Close"],window=7).rsi()
    df["RSI_7"] = rsi
    wvap = ((df["Low"]+df["High"]+df["Close"])/3*(df["Volume"])).cumsum()/df["Volume"].cumsum()
    df["WVAP"] = wvap
    if j=="Apple":
        Apple = DataFrame()
        Apple = df.replace(np.nan,0)
        Apple.to_csv(f"Data/{j}",index=False) #Save
    if j=="Microsoft":
        Microsoft = DataFrame()
        Microsoft =df.replace(np.nan,0)
        Microsoft.to_csv(f"Data/{j}",index=False)
    if j=="IBM":
        IBM = DataFrame()
        IBM = df.replace(np.nan,0)
        IBM.to_csv(f"Data/{j}",index=False)
    if j=="GeneralElectric":
        GeneralElectric = DataFrame()
        GeneralElectric = df.replace(np.nan,0)
        GeneralElectric.to_csv(f"Data/{j}",index=False)
    if j=="Johnson&Johnson":
        JohnsonJohnson = DataFrame()  
        JohnsonJohnson = df.replace(np.nan,0)
        JohnsonJohnson.to_csv(f"Data/{j}",index=False)

C:\Users\lipun\AppData\Local\Temp\ipykernel_21860\1697816970.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["SMA_7"] = sma
C:\Users\lipun\AppData\Local\Temp\ipykernel_21860\1697816970.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["EMA_7"] = ema
C:\Users\lipun\AppData\Local\Temp\ipykernel_21860\1697816970.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["RSI_7"] = rsi
C:\Users\lipun\AppData\Local\Temp\ipykernel_21860\1697816970.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["WVAP"] = wvap
C:\Users\lipun\AppData\Local\Temp\ipykernel_21860\1697816970.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["SMA_7"] = sma
C:\Users\lipun\AppData\Local\Temp\ipykernel_21860\1697816970.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["EMA_7"] = ema
C:\Users\lipun\AppData\Local\Temp\ipykernel_21860\1697816970.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["RSI_7"] = rsi
C:\Users\lipun\AppData\Local\Temp\ipykernel_21860\1697816970.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["WVAP"] = wvap
C:\Users\lipun\AppData\Local\Temp\ipykernel_21860\1697816970.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["SMA_7"] = sma
C:\Users\lipun\AppData\Local\Temp\ipykernel_21860\1697816970.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["EMA_7"] = ema
C:\Users\lipun\AppData\Local\Temp\ipykernel_21860\1697816970.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["RSI_7"] = rsi
C:\Users\lipun\AppData\Local\Temp\ipykernel_21860\1697816970.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["WVAP"] = wvap
C:\Users\lipun\AppData\Local\Temp\ipykernel_21860\1697816970.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["SMA_7"] = sma
C:\Users\lipun\AppData\Local\Temp\ipykernel_21860\1697816970.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["EMA_7"] = ema
C:\Users\lipun\AppData\Local\Temp\ipykernel_21860\1697816970.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["RSI_7"] = rsi
C:\Users\lipun\AppData\Local\Temp\ipykernel_21860\1697816970.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["WVAP"] = wvap
C:\Users\lipun\AppData\Local\Temp\ipykernel_21860\1697816970.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["SMA_7"] = sma
C:\Users\lipun\AppData\Local\Temp\ipykernel_21860\1697816970.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["EMA_7"] = ema
C:\Users\lipun\AppData\Local\Temp\ipykernel_21860\1697816970.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["RSI_7"] = rsi
C:\Users\lipun\AppData\Local\Temp\ipykernel_21860\1697816970.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["WVAP"] = wvap

In [8]:
Apple

,Stocks,Date,Open,High,Low,Volume,Close,SMA_7,EMA_7,RSI_7,WVAP
0,Apple,2005-07-22,1.305555,1.322385,1.304052,301106400,1.322385,0.000000,0.000000,0.000000,1.316274
1,Apple,2005-07-25,1.322083,1.330799,1.314269,294627200,1.316674,0.000000,0.000000,0.000000,1.318404
2,Apple,2005-07-26,1.322685,1.325690,1.303149,268592800,1.311264,0.000000,0.000000,0.000000,1.316839
3,Apple,2005-07-27,1.317275,1.324488,1.282412,283749200,1.322083,0.000000,0.000000,0.000000,1.315065
4,Apple,2005-07-28,1.317876,1.322385,1.301347,251311200,1.316374,0.000000,0.000000,0.000000,1.314760
...,...,...,...,...,...,...,...,...,...,...,...
5022,Apple,2025-07-10,210.509995,213.479996,210.029999,44443600,212.410004,211.045715,210.031552,71.429067,18.604458
5023,Apple,2025-07-11,210.570007,212.130005,209.860001,39765800,211.160004,211.522858,210.313665,64.060739,18.608626
5024,Apple,2025-07-14,209.929993,210.910004,207.539993,38840100,208.619995,210.977142,209.890247,51.473054,18.612655
5025,Apple,2025-07-15,209.220001,211.889999,208.919998,42296300,209.110001,210.342856,209.695186,53.528260,18.617063
5026,Apple,2025-07-16,210.300003,212.399994,208.639999,47429600,210.160004,210.372857,209.811390,57.977546,18.622017

In [9]:
EDA_data.to_csv("Data/EDA_transformed.csv",index=False)
data.to_csv("Data/Transformed.csv",index=False)

In [10]:
for i in Scale.keys():
    joblib.dump(Scale[i],f"Data/Scaled_{i}.pkl")

<h1><b>FINAL REPORT: DATA-TRANSFORMATION</b></h1>
<li>Encoded Categorical Values "Stocks" using OneHotEncoder</li>
<li>Scaled Numerical Features for each unique "Stocks" using MinMaxScaler for further use in Model Implementations</li>
<li>Performed Feature Engineering on each unique "Stocks" and saved it for further applications , extracted SMA(Simple-Moving avg) using rolling feature, EMA(exponential-Moving avg) using EMAIndicator,RSI value using RSIIndicator and WVAP(Weighted volume avg price) using traditional formula</li>
<li>Saved Scaled Model for each stocks for further uses and applications</li>